*,
::before,
::after {
  box-sizing: border-box;
}

svg {
  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font;
  background: rgb(245 236 248);
  background: linear-gradient(90deg, rgba(225, 231, 244, 1) 0%, rgba(225, 231, 244, 0.27) 100%);
  overflow-x: hidden;

  .rtl {
    direction: rtl;
    text-align: right;
  }

  .ltr {
    direction: ltr;
    text-align: left;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px #758199 inset !important;
  border: 0;
  -webkit-text-fill-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

