<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Pinoox">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Server">
            <directory>tests/Feature/Server</directory>
        </testsuite>
        <testsuite name="Routing">
            <directory>tests/Feature/Routing</directory>
        </testsuite>
        <testsuite name="Http">
            <directory>tests/Feature/Http</directory>
        </testsuite>
        <testsuite name="App">
            <directory>tests/Feature/App</directory>
        </testsuite>
        <testsuite name="Portal">
            <directory>tests/Feature/Portal</directory>
        </testsuite>
        <testsuite name="Installer">
            <directory>tests/Feature/Installer</directory>
        </testsuite>
        <testsuite name="Theme">
            <directory>tests/Feature/Theme</directory>
        </testsuite>
        <testsuite name="Config">
            <directory>tests/Feature/Config</directory>
        </testsuite>
        <testsuite name="Database">
            <directory>tests/Feature/Database</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Feature/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
