* {
    padding: 0;
    margin: 0;
}

/* font */
@font-face {
    font-family: shabnam;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/shabnam/Shabnam-Light-FD.eot');
    src: url('../fonts/shabnam/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/shabnam/Shabnam-Light-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/shabnam/Shabnam-Light-FD.ttf') format('truetype');
}

@font-face {
    font-family: shabnam;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/shabnam/Shabnam-FD.eot');
    src: url('../fonts/shabnam/Shabnam-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/shabnam/Shabnam-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/shabnam/Shabnam-FD.ttf') format('truetype');
}
@font-face {
    font-family: shabnam;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/shabnam/Shabnam-Bold-FD.eot');
    src: url('../fonts/shabnam/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/shabnam/Shabnam-Bold-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/shabnam/Shabnam-Bold-FD.ttf') format('truetype');
}

body {
    background: #ffffff;
    font-family: "shabnam";
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.container {
    padding: 2rem;
}

.logo {
    text-align: center;
}

.logo img {
    display: block;
    width: 128px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    font-size: 4rem;
    background: -webkit-linear-gradient(#3e9bc0, #4A64BF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 10px rgba(62, 155, 192, 0.3);
    margin-top: 20px;
}

.nav {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    width: 100%;
}

.nav a {
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    color: #3e9bc0;
    text-decoration: none;
    font-weight: 300;
    padding: 15px;
    border-radius: 5px;
    transition: 0.25s;
    text-shadow: 0 2px 10px rgba(62, 155, 192, 0.3);
}

.nav a img {
    color: #3e9bc0;
    display: block;
    transition: 0.25s;
    width: 50px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav a:hover, .nav a:hover img {
    transition: 0.25s;
    transform: scale(1.2);
}

a.pointer {
    cursor: pointer;
}

.footer {
    margin-top: 50px;
    text-align: center;
    color: #999;
    font-weight: 100;
}

.footer .heart {
    display: inline-block;
    font-size: 1.5rem;
    color: #f62a58;
    text-shadow: 0 2px 10px rgba(246, 42, 88, 0.3);
    animation: heartbeat 2s infinite;
}

.footer .heart img {
    width: 25px;
}

@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(.75);
    }
    100% {
        transform: scale(.75);
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .logo img {
        width: 90px;
    }

    h1 {
        font-size: 2rem;
    }
}