@use "sass:math";

$planet-data: (
                (mercury, 65px, 165px, 10s),
                (venus, 72px, 260px, 20s),
                (earth, 60px, 360px, 30s),
                (mars, 78px, 460px, 14s)
);

$solar-system-width: 555px;
$solar-system-height: 555px;

@mixin planet($size, $orbitSize) {
  height: $size;
  width: $size;
  margin-top: (math.div($orbitSize, 2)) - (math.div($size, 2));
  border-radius: 50%;

  img {
    width: 100%;
  }
}

.solar-system {
  position: relative;
  width: min($solar-system-width, 100%);
  height: min($solar-system-height, 80vw);
  margin-inline: auto;
  overflow: hidden;

  .orbit {
    border: 1px dashed rgba(206, 206, 206, 0.8);
  }

  #pinoox,
  .orbit,
  .orbit + div,
  .orbit + div > div {
    position: absolute;
    border-radius: 50%;
  }

  #pinoox,
  .orbit,
  .orbit + div {
    top: 50%;
    left: 50%;
  }

  .orbit,
  .orbit + div div,
  #pinoox {
    height: 120px;
    width: 120px;
    margin-top: -60px;
    margin-left: -60px;
    border-radius: 50%;

    img {
      width: 100%;
    }
  }

  .orbit + div > div {
    top: 0;
    left: 50%;
  }

  @each $planet in $planet-data {
    $planet-name: nth($planet, 1);
    $planet-size: nth($planet, 2);
    $orbit-size: nth($planet, 3);
    $duration: nth($planet, 4);

    ##{$planet-name} {
      @include planet($planet-size, $orbit-size);
    }

    .#{$planet-name}-spin {
      animation: spin-right $duration linear infinite;
    }
  }

  $planet-orbits: ();

  @each $planet in $planet-data {
    $planet-name: nth($planet, 1);
    $orbit-size: nth($planet, 3);
    $planet-orbits: map-merge($planet-orbits, (('#{#{$planet-name}}-orbit'): $orbit-size));
  }

  @each $orbit, $size in $planet-orbits {
    .#{$orbit},
    .#{$orbit}-spin {
      margin-top: math.div($size, -2);
      margin-left: math.div($size, -2);
      width: $size;
      height: $size;
    }
  }

  @keyframes spin-right {
    100% {
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 768px) {
  .solar-system {
    height: min(420px, 72vw);
  }
}

@media (max-width: 480px) {
  .solar-system {
    height: 360px;
  }
}
