//--------------------------------------------
//--This File Contains All The Helper Classes
//---------------------------------------------
.mt-4{
  margin-top: 1rem;
}
.mt-6{
  margin-top: 1.5rem;
}
.pt-20{
  margin-top: 4rem;
}
.mx-w-80{
  max-width: 80%;
}