//--------------------------------------------
//--This File Contains All Variables
//---------------------------------------------

// Font family
$font: 'kalameh', Montserrat;
$fontBrand: 'tunisia', Montserrat;

//colors
$primary-color: #008AF3;
$text-color: #F2F2F2;
$text-gray-color: #AFAFAF;
$text-dark-color: #444444;

$red : #F54086;
$orange : #FF9C32;