@font-face {
    font-family: shabnam;
    font-style: normal;
    font-weight: 300;
    src: url('Shabnam-Light-FD.eot');
    src: url('Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('Shabnam-Light-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Shabnam-Light-FD.ttf') format('truetype');
}

@font-face {
    font-family: shabnam;
    font-style: normal;
    font-weight: normal;
    src: url('Shabnam-FD.eot');
    src: url('Shabnam-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('Shabnam-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Shabnam-FD.ttf') format('truetype');
}
@font-face {
    font-family: shabnam;
    font-style: normal;
    font-weight: bold;
    src: url('Shabnam-Bold-FD.eot');
    src: url('Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('Shabnam-Bold-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Shabnam-Bold-FD.ttf') format('truetype');
}