@use '../base/variable' as *;

.clockWidget {
  &__time {
    font-size: 2rem;
    font-weight: 700;
    color: $color-title;
    direction: ltr;
    text-align: center;
  }
}

.desktop-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - $toolbar-height);
  color: $color-text;
  opacity: 0.8;
}
