.form {
  .inputWrapper {
    margin-bottom: 1rem;
  }

  .btn {
    margin-top: 1rem;
  }
}

.inputWrapper {
  width: 100%;
  position: relative;

  &__prefix {
    &.rtl {
      direction: rtl;
    }

    &.ltr {
      direction: ltr;
    }
  }

  &__form {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    background: $bg-blur;

    &.text-right {
      direction: rtl;
    }

    &.text-left {
      direction: ltr;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: #f5f5f5;
      cursor: not-allowed;
    }
  }
}