@use '../base/variable' as *;

.vue-modal-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  z-index: 200;
}

.vue-modal-root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 201;
}

.vue-modal {

  &-header {
    border-bottom: none !important;
  }

  &-footer {
    border-top-color: $color-border !important;
    gap: 1rem !important;
  }

  &-content {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid $color-border;
  }
}


.modal-guide-content {
  p {
    line-height: normal;
  }

  h3 {
    padding: 0.5rem 0;
    font-weight: 600;
    color: $color-title;
    margin-top: 1rem;
  }

  ul {
    margin: 1rem 0;
    direction: ltr;

    li {
      color: var(--color-primary);
    }
  }
}
