@use '../base/variable' as *;

.pageSection {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 1rem;

    &-title {
      color: $color-title;
      font-size: 1rem;
    }

    &-actions {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-shrink: 0;
    }
  }

  &__content {
    padding: 1rem;
    border-radius: 0.5rem;
    background: $bg-blur;
    border: 1px solid $color-border;
    color: $color-text;
  }
}