.toolbar {
  min-height: $toolbar-height;
  background: rgba(19, 13, 11, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;

  &__brand {
    flex-grow: 1;

    a {
      transition: 0.2s ease-in-out;
      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &__account {
    margin-right: 2rem;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      text-align: center;
      transition: 0.2s ease-in-out;
      font-size: 0.9em;
      font-weight: 300;

      &:hover {
        cursor: pointer;
        color: var(--color-primary);
      }
    }
  }

  &__datetime {
    display: flex;
    gap: 1rem;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 1px;
  }
}