// Font family
$font: 'kalameh', Montserrat;

$toolbar-height: 2.2rem;
$sidebar-width: 300px;

$color-border: rgba(255, 255, 255, 0.1);
$color-title: #fafafa;
$color-text: #bcbcbc;

$bg-blur: rgba(0, 0, 0, 0.1);

.v-sidebar-menu {
  --vsm-item-active-line-color: var(--color-primary);
}