.section__market {
  padding: 200px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &-content {
    .gradient-text {
      font-weight: 500;
      font-size: 4.5em;
    }

    .text-dark {
      color: $text-dark-color;
      line-height: 1.7;
      font-size: 1.1em;
      margin: 30px 0;
    }

    .btn {
      margin: 30px 0;
    }
  }


  &-solar {


  }

}