<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pinoox Help</title>
    <link rel="stylesheet" href="{{ url('~pincore/resource/views/no-route/css/style.css') }}">
</head>
<body>
<div class="app">
    <div class="page">
        <section class="page__message">
            <div class="image"><img src="{{ url('~pincore/resource/images/logo.png') }}" alt="logo"></div>
            <div class="title">Welcome to <h2>Pinoox 2</h2></div>
            <div class="text">
                <div class="path">{{ app().path() }}</div>
                <div class="description">Your application is ready, but no routes are defined. Please set them up.</div>
            </div>
        </section>

        <section class="page__help">
            <div class="page__help-content">
                <div class="content-item">
                    <div class="icon"></div>
                    <div class="caption">Documentation</div>
                    <div class="links">
                        <a href="">Guides</a>
                        <a href="">APIs</a>
                    </div>
                </div>
                <div class="content-item">
                    <div class="icon"></div>
                    <div class="caption">Tutorials</div>
                    <div class="links">
                        <a href="">Create First App</a>
                    </div>
                </div>
                <div class="content-item">
                    <div class="icon"></div>
                    <div class="caption">Community</div>
                    <div class="links">
                        <a href="">Questions</a>
                        <a href="">Contact Us</a>
                        <a href="">Help Center</a>
                    </div>
                </div>
            </div>

        </section>
    </div>

</div>

</body>
</html>