.pageControl {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: $toolbar-height;
  overflow: hidden;

  &__sidebar {
    margin-top: $toolbar-height;
    position: fixed;
    transition: width 0.3s ease-in-out;
  }

  &__page {
    position: relative;
    height: 100%;
    transition: width 0.3s ease-in-out;
    right: $sidebar-width;
    width: calc(100% - $sidebar-width);

    &.collapsed {
      right: 70px;
      width: calc(100% - 70px);
    }
  }
}