//--------------------------------------------------
// Basic typography style for copy text
//--------------------------------------------------

.title {
  font-weight: 500;
  font-size: 4em;
  color: $text-color;
  padding: 10px;
}

.headline {
  color: $primary-color;
  font-size: 1.2em;
  font-weight: 400;

}

.gradient-text {
  padding: 10px 0;
  font-size: 5em;
  font-weight: 600;
  color: white;
  background: linear-gradient(270deg,
          #4F5BD5,
          #D62976,
          #FA7E1E);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientAnim {
  animation: gradient-animation 5s ease-in-out infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 75% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}