<!doctype html>

<html lang="{{ bootstrap.locale|default(currentLang|default('en')) }}">

<head>

    {% include 'partials/head.twig' %}

    {% include 'partials/scripts.twig' %}

</head>

<body>

<div id="app"></div>

</body>

</html>
