<!doctype html>
<html lang="{{ currentLang|default('en') }}">
<head>
    {% include 'partials/head.twig' %}
    <script src="{{ url('dist/pinoox.js') }}"></script>
    {{ vite_tags('src/main.js')|raw }}
</head>
<body>
<div id="app"></div>
<script>window.__PINOOX_MOUNT__ = '#app';</script>
</body>
</html>
